@include screen1200 {
    .p-intro {
        &__case {
            .p-item {
                &__question {
                    h4 {
                        font-size: 2vw;
                    }
                }
        
            }
        }
    }
    
}

@include sp {
    //============================================
    // Header
    //============================================
    .c-header {
        background: url("./_public/assets/img/header-bn-750.png") no-repeat center;
        background-size: cover;
        height: 446px;

        &__content {
            margin: 1px 0 0;
            max-width: 217px;
            max-height: 230.5px;
        }

        img:first-child {
            max-width: 114px;
            margin-bottom: 12.4%;
            margin-top: 26%;       
        }

        img:last-child {
            margin-left: 8.2%;
            max-width: 161.5px;
        }   

        p {
            margin-left: -3.4%;
            margin-bottom: 8.5%;
            font-size: 1rem;
            letter-spacing: -0.6px;

            span {
                margin-left: -4.9px;
            }
        }
    }
    //============================================
    // P-Intro
    //============================================
    .p-intro {
        max-width: 375px;
        margin: 0 auto;
        padding-top: 19px;

        &__case {
            margin: 30px auto 0;

            h2 {
                font-size: 1.5rem;
                letter-spacing: 0.001rem;
                padding-left: 0;
                padding-right: 6px;
            }
        }

        .p-caselist {
            margin: 0 16px 0 31px;
            padding: 0;
            flex-wrap: wrap;
        }

        .p-item:nth-child(1),
        .p-item:nth-child(2),
        .p-item:nth-child(3) {
            margin-left: 0;
        }

        .p-item {
            margin: 8px 0 12px;
            width: 100%;
    
            &__number {
                margin-left: 4.6%;

                h3 {
                    font-size: 14.8rem;
                }

                h3::after {
                    font-size: 1.65rem;
                    top: 60.9%;
                    left: 19.7%;
                    letter-spacing: 0.4rem;
                }
            }

            &__question {
                max-width: 327px;
                width: 100%;
                min-height: 87px;
                border-radius: 5px;
                margin-top: -0.7%;

                h4 {
                    font-size: 1.6rem;
                }

                p {
                    font-size: 1.25rem;
                }

                &::before {
                    border-width: 0 15px 21px 1px;
                    top: -23%;
                    left: 29%;
                }
            }
        }

        .p-item2 {
            margin-bottom: 14px;

            &__number {
                position: relative;
                right: 2.2%;
                text-align: right;

                h3::after {
                    top: 60.1%;
                    right: 18.3%;
                    letter-spacing: 0.4rem;
                }
            }

            &__question {
                &::before {
                    border-width: 0 4px 30px 18px;
                    top: -23%;
                    left: 65%;
                }
            }
        }

        &__main {
            margin: 72px auto 0;

            h2 {
                max-width: 222px;
                font-size: 1.3rem;
                letter-spacing: -0.2px;
                padding-left: 0;
                line-height: 1.3;
                margin: 0 auto 6px;

                span {
                    font-size: 1.75rem;
                    margin-left: 4px;
                }
                
            }
            
            h3 {
                font-size: 1.3rem;
                letter-spacing: 0.5px;
                padding-left: 0;
                margin-bottom: 43px;
            }
        }
        
        .p-welcome {
            flex-direction: column;
            margin: 0 42px 61px 43px;
            padding: 0;
            
            &__content {
                img {
                    max-width: 45px;
                }

                h4 {
                    font-size: 1.4rem;
                    margin-bottom: 8.3px;
                    letter-spacing: 0;
                }

                span {
                    font-size: 1.8rem;
                }

                p {
                    font-size: 1.1rem;
                    margin-bottom: 12.7px;
                    letter-spacing: -0.1px;
                }
            }
        }

    }

    //============================================
    // P-Recommend
    //============================================
    .p-recommend {
        margin: 73px auto 0;

        .l-container {
            max-width: 375px;
        }
        
        &__image {
            max-width: 217px;
            width: 100%;
            top: 85.6%;
            left: 43.3%;
        }

        &__title {
            max-width: 375px;
            right: 2.6%;
            top: -3.6%;
            


            h2 {
                font-size: 3.2rem;
                letter-spacing: 2.4px;
                padding-right: 4.3px;
            }

            h3 {
                font-size: 1.25rem;
                letter-spacing: 0.11px;
            }

            span {
                font-size: 1.7rem;
            }

        }

        &__pointlist {
            max-width: 375px;
            margin: 0 auto;
            flex-wrap: wrap;
            row-gap: 16px;
            column-gap: 6px;
            padding: 20% 2.5% 33.2%;
        }

        &__pointitem {
            padding: 10px 5px 16px 10px;
            width: calc(50% - 6px);

            img {
                padding-right: 5px;
                margin: 0 auto 6.3%;
            }

            h4 {
                font-size: 1.1rem;
                padding-right: 0;
            }
            
            p {
                font-size: 0.9rem;
                letter-spacing: 0.5px;
                padding-right: 7px;
            }
        }
    }

    //============================================
    // P-Present
    //============================================
    .p-present {
        max-width: 340px;
        width: 100%;
        margin: 61px auto 0;
    }

    //============================================
    // P-Design
    //============================================
    .p-design {
        margin-top: 50px;

        &__slide {
            max-width: 100%;
        }

        &__slide::after {
            top: 92.4%;
            right: 0%;
            width: 195px;
            height: 257px;
            z-index: -1;
            pointer-events: none;
        }

        &__slideshow {
            max-width: 360px;
            width: 100%;

            img {
                max-width: 360px;
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
            
            .slick-arrow {
                max-width: 32px;
                max-height: 32px;
                height: 100%;
                width: 100%;
            }

            .slick-prev {
                bottom: -18.1%;
                right: 12.4%;
            }

            .slick-next {
                bottom: -18.2%;
                right: 0.7%;
            }
        }

        &__main {
            max-width: 375px;
            flex-direction: column;
            margin: 11.2% auto 0;
        }

        &__content {
            margin-left: 0;
            margin-top: 2.3%;
            align-self: center;
            padding-left: 4%;

            h2 {
                font-size: 2.4rem;
                letter-spacing: 2.6px;
                margin-bottom: 10.1%;
            }

            h2::after {
                width: 28px;
            }

            h3 {
                font-size: 1.35rem;
                letter-spacing: 0.1px;
                line-height: 1.4;
                margin-bottom: 5.1%;
            }

            p {
                font-size: 1rem;
                padding-right: 0;
            }
        }

        &__video {
            align-self: center;
            max-width: 302px;
            height: 168px;
            margin-top: 12.3%;
            margin-left: 0;
        }
    }

    //============================================
    // P-Plan
    //============================================
    .p-plan {
        margin: 49px auto 69px;

        &__title {
            font-size: 2.4rem;
            letter-spacing: 2px;
            padding-left: 0;
            margin-bottom: 8.1%;
        }

        &__title::after {
            width: 30px;
            bottom: -34.5%;
            left: 46.2%;
        }

        &__image {
            margin-left: 2.8%;
            margin-bottom: 7%;

            .p-image {
                &__image1 {
                    margin-top: 2.2%;
                }

                &__icon1,
                &__icon2 {
                    width: 25px;
                }

                &__icon1 {
                    top: 0.5%;
                    left: 6.2%;
                }

                &__icon2 {
                    top: 2.6%;
                    left: 14.9%;
                }
            }
        }

        &__info {
            max-width: 200px;
            font-size: 1.2rem;
            flex-direction: column;
            
        }

        &__infoitem > * {
            display: inline-block;
        }

        &__infoitem {
            width: 100%;
            
            &:nth-child(1) {
                margin-left: 2.7%;
                margin-bottom: 1.6%;

                p:nth-child(1) {
                    margin-right: 5.6%;
                    letter-spacing: -0.39px;
                }

                span {
                    margin-left: -4px;
                }
            } 

            &:nth-child(2) {
                margin-left: 2.6%;
                margin-bottom: 1.7%;

                p:nth-child(1) {
                    margin-right: 2.1%;
                    letter-spacing: -0.29px;
                }
            }

            &:nth-child(3) {
                margin-left: 1.5%;

                p:nth-child(1) {
                    margin-right: 4.1%;
                    letter-spacing: -0.49px;
                }

                p:nth-child(2) {
                    margin-left: 0;
                    letter-spacing: -0.1px;

                    span {
                        margin-left: 0;
                    }
                }
                
            }
        }

        &__main {
            max-width: 375px;
            width: 100%;
            padding: 0 4%;
            margin: 8.5% auto 0;
        }

        .p-detail {
            font-size: 1.25rem;
            

            &__title {
                min-width: 123px;
                padding-left: 1.5%;
            }

            &:nth-child(1) {
                padding-bottom: 0.7%;
            }

            &:nth-child(2) {
                padding-top: 5.3%;
                padding-bottom: 0.7%;
            }

            &__content1,
            &__content2 {
                padding-left: 1.7%;
            }

            &__content3 {
                padding-top: 3.1%;
                padding-bottom: 2.5%;
            }

            &:nth-child(3) {
                .c-label:nth-child(1) {
                    padding: 0 1px 2px 5px;
                }
        
                .c-label:nth-child(2) {
                    padding: 0 11px 1px 7px;
                }
            
                .c-label:nth-child(3) {
                    padding: 0 6px 1px;
                }
            
                .c-label:nth-child(4) {
                    padding: 0 7px 1px;
                    letter-spacing: -0.9px;
                    margin-right: -2px;
                }
            
                .c-label:nth-child(5) {
                    padding: 0 7px 1px 3px;
                }
            }

            &__title3 {
                letter-spacing: 1px;
                padding-top: 6.6%;
                padding-bottom: 0.7%;
            }

            &:nth-child(4) {
                .c-label:nth-child(1) {
                    padding: 1px 8px 0 6px;
                }
        
                .c-label:nth-child(2) {
                    padding: 1px 7px 0 8px;
                    letter-spacing: -1.5px;
                }
        
                .c-label:nth-child(3) {
                    padding: 1px 7px 0;
                }
            }

            &__title4 {
                padding-top: 3.6%;
                padding-bottom: 1.7%;
            }

            &__content4 {
                padding-top: 3.4%;
                padding-bottom: 2.8%;
            }
        }
    }

    //============================================
    // P-Finance
    //============================================
    .p-finance {
        &__wrapper {
            max-width: 375px;
            padding: 9.1% 0 16.8%;
        }

        &__title {
            font-size: 2.4rem;
            letter-spacing: 2.5px;
            padding-left: 0;
            margin-bottom: 9.5%;

            &::after {
                left: 46.5%;
                bottom: -16.7%;
                width: 28px;
            }
        }

        &__borrowing {
            padding-left: 0;
            margin-bottom: 6.3%;

            h3 {
                font-size: 1.5rem;
                padding: 0.9% 6.9% 1.7% 7%;
                letter-spacing: 0.3px;
            }
        }

        &__content {
            flex-direction: column;
            padding: 0 9.9%;
        }

        &__content > div {
            width: 100%;
        }

        &__plandetail {
            font-size: 1.1rem;
            padding: 17.9% 13.9% 7.8%;
            margin-right: 0%;
            margin-bottom: 9%;
        }

        &__detailitem {
            margin: 0 auto 8.4%;
        }

        &__detailitem:nth-child(1) {
            span {
                margin-left: 3.3%;
                letter-spacing: -0.2px;
            }
        }

        &__detailitem:nth-child(2) {
            letter-spacing: -0.3px;
    
            span {
                margin-left: -1.1%;
                letter-spacing: -0.2px;
            }
        }

        &__detailitem:nth-child(3) {
            letter-spacing: -0.2px;
    
            span {
                margin-left: -1.1%;
                letter-spacing: -0.2px;
            }
        }

        &__detailitem:nth-child(4) {
            letter-spacing: -0.1px;
    
            span {
                margin-left: -1.1%;
                letter-spacing: -0.3px;
            }
        }

        &__monthlypaid {
            padding-top: 17.4%;
            padding-left: 14.4%;
            padding-bottom: 17.6%;
    
            h4 {
                font-size: 4.5rem;
                padding-right: 8.5%;
                margin-bottom: 2.7%;
    
                span {
                    color: #231815;
                    font-size: 1.3rem;
                    margin-bottom: 0.5%;
                    padding-left: 2%;
                }
            }
    
            h4::after {
                font-size: 1.6rem;
                bottom: 12%;
                right: 0.8%;
            }
    
            p {
                font-size: 1.1rem;
                letter-spacing: -0.2px;
            }
        }

        &__payment {
            max-width: 100px;
            max-height: 100px;
            padding: 16.5px 0;
            top: -9px;
            right: -23px;

            p {
                font-size: 1.6rem;
            }

            h5 {
                font-size: 4.8rem;
                margin-left: 27px;

                span {
                    font-size: 1.6rem;
                }
            }
        }

        &__payment::after {
            border-width: 24px 0 0 24px;
            top: 62.7%;
            left: -7%;
        }
    
    }
    
    //============================================
    // P-Web
    //============================================
    .p-web {
        max-width: 375px;
        margin: 11.2% auto 16%;

        &__title {
            margin-bottom: 9%;

            h2 {
                padding-left: 0;
                font-size: 1.7rem;
                margin-bottom: 3.85%;

                span {
                    font-size: 2.3rem;
                    letter-spacing: 6.4px;
                }
            }
        }

        &__sub {
            font-size: 1.35rem;
            letter-spacing: 0;
        }

        &__sub:nth-child(2) {
            padding-left: 0%;
            margin-left: -1.4%;
            line-height: 1.3;
        }
    
        &__sub:nth-child(3) {
            padding-left: 1.8%;
        }

        &__procedure {
            max-width: 375px;
            width: 100%;
            flex-wrap: wrap;
            margin: 0 auto 11%;
            padding-left: 5.6%;
            padding-right: 10%;
        }

        &__step {
            width: 45%;
            min-height: 121px;
            margin-bottom: 7.4%;

            h5 {
                font-size: 1.05rem;
            }
    
            p {
                font-size: 0.8rem;
            }
        }

        &__step:nth-child(1)::after,
 
        &__step:nth-child(2)::after,
 
        &__step:nth-child(3)::after,
 
        &__step:nth-child(4)::after {
            border-width: 4px 0 4px 4px;
        }

        &__step:nth-child(1) {
            padding-top: 3.8%;

            img {
                width: 21px;
                margin-left: -2%;
            }

            p {
                padding-right: 4.4%;
            }
        }

        &__step:nth-child(2) {
            img {
                width: 21px;
            }
        }
        
        &__step:nth-child(3) {
            padding-top: 4.1%;

            img {
                width: 16px;
            }

            p {
                margin-left: -0.6%;
                letter-spacing: 0;
            }
        }
        
        &__step:nth-child(4) {
            padding-top: 4.4%;

            img {
                width: 17px;
            }

            p {
                margin-left: 0.1%;
                letter-spacing: 0;
            }
        }
        
        &__step:nth-child(5) {
            padding-top: 4.4%;

            img {
                width: 21px;
                padding-right: 1.4%;
            }

            p {
                padding-right: 12.9%;
            }
        }

        &__visitors {
            max-width: 334px;
        }

        .p-visitor {
            &__header {
                padding: 7.2% 0 9.2%;
                max-width: 100%;

                p {
                    text-align: center;
                    font-size: 1rem;
                    max-width: 198px;
                    margin: 0 auto;
                    letter-spacing: 0.4px;
                    // padding-right: 1%;
                    line-height: 1.6;
                    padding-left: 13px;
                }
            }

            &__title {
                flex-direction: column;
                max-width: 230px;
                margin-bottom: 2.4%;

                h6 {
                    font-size: 1.35rem;
                    padding: 5px 13px 2px 12px;
                    max-width: 125px;
                    align-self: center;
                    border-radius: 15px;
                    letter-spacing: -0.17rem;
                    margin-bottom: 2.4%;
                }

                h3 {
                    font-size: 1.6rem;
                    letter-spacing: -1.3px;
                    margin-right: 1%;
                    padding-top: 0.1%;
                }

                span {
                    display: block;
                    margin-left: 0;
                    margin-right: 0;
                    letter-spacing: -1.3px;
                    margin-top: -7px;

                }
            }
        }

        &__sign {
            flex-direction: column;
        }

        &__wrapper {
            max-width: 290px;
            padding-bottom: 57px;
        }

        .c-group {
            &__group1 {
                width: 100%;
            }

            &__group2 {
                width: 100%;
            }

            &__group3 {
                width: 100%;
                display: flex;
            }

            &__item {
                font-size: 0.9rem;
                height: 128px;
            }

            &__item1 {
                width: 57%;
                padding-top: 20px;
                padding-left: 10px;
                border-right: 1px solid #aeaeae;
                border-bottom: 1px solid #aeaeae;

                img {
                    width: 64px;
                    padding-right: 0;
                    margin-bottom: 13px;
                }

                p {
                    padding-right: 0;
                    letter-spacing: 0.1px;
                }
            }
            
            &__item2 {
                padding-top: 16px;
                border-right: 0 none;
                border-bottom: 1px solid #aeaeae;

                img {
                    width: 59px;
                    padding-right: 0;
                    margin-bottom: 17px;
                }

                p {
                    padding-right: 5px;
                }

                p:nth-of-type(1) {
                    letter-spacing: -0.6px;
                }
    
                p:nth-of-type(2) {
                    letter-spacing: -0.1px;
                }
            }

            &__item3 {
                width: 57%;
                height: 145px;
                padding-top: 12px;
                padding-left: 8px;
                border-right: 1px solid #aeaeae;
                border-bottom: 1px solid #aeaeae;

                img {
                    width: 62px;
                    padding-right: 0;
                    margin-bottom: 13px;
                }

                p {
                    padding-right: 0;
                    letter-spacing: 0.1px;
                }
            }

            &__item4 {
                height: 145px;
                padding-top: 16px;
                border-right: 0 none;
                border-bottom: 1px solid #aeaeae;

                img {
                    width: 54px;
                    padding-right: 0;
                    margin-bottom: 17px;
                }

                p:nth-of-type(1) {
                    letter-spacing: -0.6px;
                    padding-right: 3px;
                }
    
                p:nth-of-type(2) {
                    letter-spacing: 0;
                    padding-right: 2px;
                }
            }

            &__item5 {
                width: 57%;
                height: 134px;
                padding-top: 16px;
                padding-left: 12px;
                border-right: 1px solid #aeaeae;
                border-bottom: 1px solid #aeaeae;

                img {
                    width: 80px;
                    padding-right: 0;
                    margin-bottom: 6px;
                }

                p {
                    padding-right: 0;
                    letter-spacing: 0.1px;
                }
            }

            &__item6 {
                height: 134px;
                padding-top: 39px;
                border-right: 0 none;
                border-bottom: 1px solid #aeaeae;

                img {
                    width: 94px;
                    padding-right: 0;
                    margin-bottom: 18px;
                }

                p:nth-of-type(1) {
                    letter-spacing: -0.6px;
                    padding-right: 3px;
                }
    
                p:nth-of-type(2) {
                    letter-spacing: 0;
                    padding-right: 2px;
                }
            }

            &__item7 {
                width: 57%;
                height: 135px;
                padding-top: 13px;
                padding-left: 12px;
                border-right: 1px solid #aeaeae;
                border-bottom: 1px solid #aeaeae;

                img {
                    width: 70px;
                    padding-right: 0;
                    margin-bottom: 11px;
                }

                p {
                    padding-right: 0;
                    letter-spacing: 0.1px;
                }
            }

            &__item8 {
                height: 135px;
                padding-top: 12px;
                border-right: 0 none;
                border-bottom: 1px solid #aeaeae;

                img {
                    width: 77px;
                    padding-right: 0;
                    margin-bottom: 11px;
                }

                p {
                    letter-spacing: -0.4px;
                    padding-right: 1px;
                }
            }

            &__item9 {
                width: 115%;
                height: 135px;
                padding-top: 21px;
                border-right: 1px solid #aeaeae;
                border-bottom: 0 none;

                img {
                    width: 58px;
                    padding-left: 0;
                    margin-left: 32px;
                    margin-bottom: 8px;
                }

                p {
                    padding-left: 28px;
                    padding-right: 0;
                    // letter-spacing: 0.1px;
                }
            }

            &__item10 {
                height: 135px;
                padding-top: 32px;
                border-right: 0 none;

                img {
                    width: 91px;
                    padding-right: 20px;
                    padding-left: 0;
                    margin-bottom: 7px;
                }

                p {
                    letter-spacing: 0.2px;
                    padding-right: 18px;
                    padding-left: 0;
                }
            }
        }
    }

    //============================================
    // P-Access
    //============================================
    .p-access {
        max-width: 375px;
        flex-direction: column;
        margin: 0 auto;

        &__map {
            width: 100%;
        }

        &__mapwrapper {
            padding-bottom: 77.62%;
        }

        &__reservation {
            width: 100%;
            padding-top: 31px;
            padding-right: 0;
            padding-bottom: 38px;
        }

        &__wrapper {
            max-width: 310px;

            h2 {
                font-size: 2.4rem;
                letter-spacing: 2px;
                margin-bottom: 7%;
                padding-right: 0%;
                padding-left: 6%;
            }

            h2::after {
                width: 38px;
                left: 37.9%;
            }

            h3 {
                font-size: 1.45rem;
                margin-bottom: 13.5%;
                padding-right: 0;
                padding-left: 6%;
            }
        }

        &__detail {
            font-size: 1.25rem;
            padding-left: 9.3%;
            margin-bottom: 0;

            li {
                margin-bottom: 2.3%;
            }

            span {
                width: 60px;
                height: 24px;
                margin-right: 6px;
                padding-left: 3px;
                line-height: 2.1;
            }

            p {
                letter-spacing: 0.4px;
            }
        }

        &__note {
            font-size: 0.8rem;
            padding-right: 0;
        }
    }

    //============================================
    // P-Present2
    //============================================
    .p-present2 {
        max-width: 341px;
        margin: 27px auto 0;
        padding: 0 11px 0 12px;
    }

    //============================================
    // Footer
    //============================================
    .c-footer {
        margin-top: 4.9%;
        margin-bottom: 30px;

        &__contact {
            max-width: 320px;
            min-height: 110px;
            max-height: 100%;
            margin: 0 auto 9.2%;

            h2 {
                font-size: 2.4rem;
                letter-spacing: 2.2px;
                padding: 13% 0.5% 10.1% 0;
            }
        }

        img {
            max-width: 102px;
        }
    }
}
