/*------------------------------------------------------------
label
------------------------------------------------------------*/
.c-label {
    font-size: 2rem;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    margin-right: 12px;
    display: inline-block;
}
@include tab {
    .c-label {
        margin-bottom: 10px;
    }
}

@include sp {
    .c-label {
        font-size: 0.9rem;
        margin-right: 4px;
        margin-bottom: 2px;
        border-radius: 2px;
    }
}



/*
------------------------------------------------------------*/
