/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    max-width: 100%;
    margin-top: 4.8%;
    margin-bottom: 80px;

    .l-container {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &__contact {
        margin: 0 auto 4.5%;
        max-width: 1196px;
        max-height: 284px;
        width: 100%;
        height: 100%;
        border: 1px solid #000;

        h2 {
            text-transform: uppercase;
            font-family: "Oswald", sans-serif;
            font-weight: 300;
            font-size: 4.8rem;
            padding: 9% 0.5% 8.9% 0;
            letter-spacing: 4px;
        }
    }

    img {
        margin: 0 auto;
    }
}
