/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    max-width: $base-width;
    overflow-x: hidden;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------
main {
    // padding: 0px 0 100px;
}

section {
    // padding: 50px 0 90px;
}

//-------------------------------------------------------
.l-container {
    width: $base-width;
    margin: 0 auto;
}
//-------------------------------------------------------
.c-mainvisual {
    &__inner {
        
    }

    

    //==================
    
}
