<footer class="c-footer">
  <div class="l-container">
    <div class="c-footer__contact">
      <h2>contact form</h2>
    </div>
    <a href="#">
      <img src="../_public/assets/img/logo.png" alt="logo">
    </a>
  </div>
</footer>