<header class="c-header">
  <div class="c-header__content">
    <a href="#">
      <img src="../_public/assets/img/logo.png" alt="Logo">
    </a>
    <p>「こんな家に住みたい」<span>をカタチにした家</span></p>
    <img src="../_public/assets/img/text.png" alt="text">
  </div>
  
</header>
