<header class="c-header">
  <div class="c-header__content">
    <a href="#">
      <img class="c-header__logo" src="../_public/assets/img/logo.png" alt="Logo">
    </a>
    <p>「こんな家に住みたい」<span>をカタチにした家</span></p>
    <img class="c-header__text" src="../_public/assets/img/text.png" alt="Now Open">
  </div>
  
</header>
